//Colores
$blanco: #ffffff;
$sombraClara1: #EAEAEA;
$sombraClara2: #D5D5D5;
$sombraClara4: #BABABA;

$azulClaro: #97ACD8;
$azulMedio: #768ABB;
$azulOscuro: #5D71A6;
$azulMasOscuro: #495A8D;

$verdeClaro: #C9DACA;
$verdeMedio: #B3C6B4;
$verdeOscuro: #94A895;
$verdeMasOscuro: #758B76;

$tealClaro: #2B5C65;
$tealMedio: #1B4650;
$tealOscuro: #0E3541;
$tealMasOscuro: #052A37;
