@use 'base/variables' as v;
@use 'base/mixins' as m;

.nav{
    background-color: v.$tealMasOscuro;
    
    .nav-principal{
        display: flex;
        flex-direction: column;
        @include m.telefono {
            flex-direction: row;
            justify-content: space-around;
        }
    }

    a{
        padding: 1.2rem;
        font-size: 1.5rem;
        font-weight: 700;
        color: v.$blanco;
        text-align: center;
        transition: background-color 0.2s ease-in-out;
        &:hover{
            background-color: v.$verdeMasOscuro;
        }
    }

}